/**********************   총 넓이를 600으로 통일하자 ***********************************************
	상위 업종 정보 리스트 컬럼 넓이 조정
***************************************************************************************************/
	#HighCata_ID		{ width: 100px;}
	#HighCata_Name		{ width: 700px;}

/**************************************************************************************************
	하위 업종 정보 리스트 컬럼 넓이 조정
***************************************************************************************************/
	#HighCata_Name1		{ width: 200px;}
	#LowCata_ID			{ width: 150px;}
	#LowCata_Name		{ width: 450px;}

/**************************************************************************************************
	컨텐츠 정보 리스트 컬럼 넓이 조정
***************************************************************************************************/
	#I_HighCata_Name	{ width: 70px;}
	#I_LowCata_Name		{ width: 75px;}
	#I_Contents_Cd		{ width: 45px;}
	#I_Contents_Nm		{ width: 180px;}
	#I_Templat_Gubun	{ width: 60px;}
	#I_Contents_Type	{ width: 100px;}
	#I_File_Nm			{ width:150px;}
	#I_File_Type		{ width: 65px;}
	#I_Contents_Status	{ width: 45px;}
/**************************************************************************************************
	기본 프로그램정보 리스트 컬럼 넓이 조정
***************************************************************************************************/
	#T_HighCata_Name	{ width: 90px;}
	#T_LowCata_Name		{ width: 90px;}
	#T_Contents_Cd		{ width: 50px;}
	#T_Contents_Nm		{ width: 175px;}
	#T_Contents_Type	{ width: 100px;}
	#T_File_Nm			{ width:150px;}
	#T_File_Type		{ width: 80px;}
	#T_Contents_Status	{ width: 65px;}


/**************************************************************************************************
	고객컨텐츠 정보 리스트 컬럼 넓이 조정
***************************************************************************************************/
	#Custom_ID1			{ width: 80px;}
	#Custom_Name1		{ width: 80px;}
	#HighCata_Name3		{ width: 70px;}
	#LowCata_Name3		{ width: 80px;}
	#Custom_ShopName1	{ width: 140px;}
	#Custom_SNum1		{ width: 100px;}
	#Custom_Addr1		{ width: 240px;}

/**************************************************************************************************
	특정 고객별 컨텐츠 정보 리스트 컬럼 넓이 조정
***************************************************************************************************/
	#Custom_Gubun		{ width: 50px;}
	#LowCata_Nm			{ width: 90px;}
	#Contents_Nm1		{ width: 160px;}
	#Templat_Gubun1		{ width: 60px;}
	#Contents_Type1		{ width: 100px;}
	#Play_Time1			{ width: 90px;}


/**************************************************************************************************
	업종별 컨텐츠 정보 리스트 컬럼 넓이 조정
***************************************************************************************************/
	#Contents_Gubun		{ width: 50px;}
	#LowCata_Nm1		{ width: 90px;}
	#Contents_Cd1		{ width: 50px;}
	#Contents_Nm2		{ width: 160px;}
	#Templat_Gubun2		{ width: 50px;}
	#Contents_Type2		{ width: 100px;}
	#File_Nm1			{ width: 150px;}
	#File_Type1			{ width: 70px;}
	#Play_Time2			{ width: 80px;}


/**************************************************************************************************
	스케쥴 정보 리스트 컬럼 넓이 조정
***************************************************************************************************/
	#Custom_Nm3			{ width: 100px;}
	#Contents_Nm3		{ width: 200px;}
	#Templat_Gubun3		{ width: 100px;}
	#Contents_Type3		{ width:120px;}
	#Play_Time3			{ width: 70px;}
	#File_Type2			{ width: 90px;}
	#Contents_Status1	{ width: 120px;}


/**************************************************************************************************
	그룹 정보 리스트 컬럼 넓이 조정
***************************************************************************************************/
	#Group_CD		{ width: 80px;}
	#Group_NM		{ width: 120px;}
	#Custom_NM		{ width: 100px;}
	#Group_DESC		{ width: 500px;}


/**************************************************************************************************
	매장 정보 리스트 컬럼 넓이 조정
***************************************************************************************************/
	#Group_NM1		{ width: 120px;}
	#Shop_CD1		{ width: 80px;}
	#Shop_NM1		{ width: 120px;}
	#Custom_NM1		{ width: 100px;}
	#Shop_DESC1		{ width: 380px;}



/**************************************************************************************************
	미디어 정보 리스트 컬럼 넓이 조정
***************************************************************************************************/
	#Group_NM2			{ width: 90px;}
	#Shop_NM2			{ width: 100px;}
	#Media_CD2			{ width: 80px;}
	#Media_Nm2			{ width: 150px;}
	#Custom_NM2			{ width: 80px;}
	#Media_IP2			{ width: 120px;}
	#Media_InstallDT2	{ width:100px;}
	#Media_Status2		{ width: 80px;}


/**************************************************************************************************
	고객 정보 리스트 컬럼 넓이 조정
***************************************************************************************************/
	#C_Custom_ID			{ width: 100px;}
	#C_Custom_Nm			{ width: 100px;}
	#C_Custom_HighCata		{ width: 90px;}
	#C_Custom_ShopName		{ width: 120px;}
	#C_Custom_CNum			{ width: 100px;}
	#C_Custom_SNum			{ width: 100px;}
	#C_Custom_Phone			{ width: 90px;}
	#C_Custom_Mobile		{ width: 90px;}


/**************************************************************************************************
	고객서비스 정보 리스트 컬럼 넓이 조정
***************************************************************************************************/
	#S_Custom_Nm			{ width: 70px;}
	#S_Service_Nm			{ width: 90px;}
	#S_Service_UserCount	{ width: 90px;}
	#S_Service_PayAmount	{ width: 100px;}
	#S_Service_PayType		{ width: 100px;}
	#S_Service_Term			{ width: 100px;}
	#S_Service_BankName		{ width: 100px;}
	#S_Service_DepoName		{ width: 80px;}
	#S_Service_PayerName	{ width: 70px;}


/**************************************************************************************************
	고객별 상품구매정보 리스트 컬럼 넓이 조정
***************************************************************************************************/
	#P_Custom_Nm			{ width: 100px;}
	#P_Product_Nm			{ width: 120px;}
	#P_Product_BuyType		{ width: 90px;}
	#P_Product_BuyCount		{ width: 70px;}
	#P_Product_BuyAmount	{ width: 110px;}
	#P_Product_Imdue		{ width: 90px;}
	#P_Product_ImPay		{ width: 110px;}
	#P_Product_BuyComp		{ width: 100px;}


/**************************************************************************************************
	서비스정보 리스트 컬럼 넓이 조정
***************************************************************************************************/
	#Service_ID			{ width: 80px;}
	#Service_NM			{ width: 120px;}
	#Service_Type		{ width: 100px;}
	#Service_Price		{ width: 100px;}
	#Service_Desc		{ width: 400px;}


/**************************************************************************************************
	상품정보 리스트 컬럼 넓이 조정
***************************************************************************************************/
	#Product_ID			{ width: 80px;}
	#Product_NM			{ width: 120px;}
	#Product_Type		{ width: 100px;}
	#Product_Price		{ width: 100px;}
	#Product_Desc		{ width: 400px;}


/**************************************************************************************************
	사용자정보 리스트 컬럼 넓이 조정
***************************************************************************************************/
	#Admin_ID			{ width: 80px;}
	#Admin_PWD			{ width: 120px;}
	#Admin_Nm			{ width: 100px;}
	#Admin_Level		{ width: 100px;}
	#Admin_Desc			{ width: 400px;}


/**************************************************************************************************
	공지사항 리스트 컬럼 넓이 조정
***************************************************************************************************/
	#NoticeNo			{ width: 50px;}
	#NoticeTitle		{ width: 550px;}
	#NoticeRegDT		{ width: 130px;}
	#NoticeHit			{ width: 70px;}
