<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="SystemVersion" value="Ver2.3.9.0"/>
    
		<add key="SeverType" value="DEV"/>
    <!-- <add key="ConnectionString_DEV" value="user id=mobtvadv; data source=mobadv; password=mobtvadv123;"/> -->
    <add key="ConnectionString_DEV"  value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=61.253.100.140)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=DARTORA)));User Id=mobtvadv;Password=mobtvadv123;"/>
    <add key="ConnectionString_TEST" value="4IjGP1aNIgGeIaokSD/K6dfq00DV/q/SDOXjhR1EndAOe9H0nJmHiiVfqFIpc0SEFxld82lMKctI/GRLOSf9OFrSGoQULsb1fBwMlxxG1srtiwhw4yMVvz4MJZd7jRyj3PCWoM7yqS5jrqFnNIZ5vQ=="/>
		<add key="ConnectionString_REAL" value="WfuJCdJXliYjcpMmIdb0AouDW7FamR+e6XWlQs+nirpnrAmQPnaf1tAtxUb7RV5DrlTcfzTDS2f1AqsDOzyijEjgxa+QJX69WGRFigAyPHXU3N0CVNmTAYiOKRoemjHcBLnD7gR8fNu0xN7132zBmVV411dkEpjmeBbMg7HGZy8="/>

    <add key="ConnectionString_Summary_DEV" value="server=61.253.100.139,38001;  User ID=adtarget; database=AdTargetsSummary; password=adtarget; Connect Timeout=15"/>
    <!-- 상용 업로드시 지워야함 server=114.205.1.48;   User ID=adtarget;	database=AdTargetsSummary;	password=adtarget;		Connect Timeout=180 -->
    <add key="ConnectionString_Summary_TEST" value="4IjGP1aNIgGeIaokSD/K6dfq00DV/q/SDOXjhR1EndAOe9H0nJmHiiVfqFIpc0SEglUK7ZmgOG4b2nN8xZQz6hHNrv4izgoWz4XD7C/0+4KtYVnvdMRR1gBiueU9TzldU65zX+H9UQYVpmLuwVga1w=="/>
    <!-- 상용 업로드시 지워야함 server=219.255.133.21,1433;	User ID=adtarget;	database=AdTargetsSummary; password=adtarget; Connect Timeout=15 -->
    <add key="ConnectionString_Summary_REAL" value="YzjPjp3pJ8QmM3FLg6ppGsW55lyHPFad5UPeIJgloMonh6IEyfgHwvmbB6+mDraygVyymOUtGkzoz9NpDJ+qUsKz15N2l9nc99Ly/KgkQogwW7qfHBsCsEi9za41A6UBXie9mFWaQchO2e2UPVj/rg=="/>
    
    <add key="MediaCode" value="01"/>
		<add key="CdnPublishTime" value="10"/>
		<add key="FilePublishTime" value="17"/>
		<add key="DBSuccess" value="0000"/>
		<add key="DBListFail" value="3000"/>
		<add key="DBAddFail" value="3101"/>
		<add key="DBEditFail" value="3201"/>
		<add key="DBDelFail" value="3301"/>
		<add key="UserLevel" value="11"/>
		<add key="UserClass" value="12"/>
		<add key="LabClass" value="21"/>
		<add key="AgentClass" value="22"/>
		<add key="ContractState" value="23"/>
		<add key="FileClass" value="24"/>
		<add key="AdtState" value="25"/>
		<add key="AdtTypes" value="26"/>
		<add key="ScheduleClass" value="27"/>
		<add key="HistoryClass" value="28"/>
		<add key="OapClass" value="29"/>
		<add key="ChannelMenu" value="30"/>
		<add key="FileState" value="31"/>
		<add key="ScheduleAdmitClass" value="32"/>
		<add key="FileAdmitClass" value="33"/>
		<add key="ChannelJumpingClass" value="34"/>
		<add key="OapMarketLevel" value="41"/>
		<add key="VsaAdtType" value="51"/>
		<add key="VsaContractState" value="52"/>
		<add key="VsaAdtState" value="53"/>
		<add key="CrmWorkState" value="91"/>
		<add key="StAdDel" value="40"/>
		<add key="HistoryEdit" value="20"/>
		<add key="HistoryDel" value="30"/>
		<add key="LogLevel" value="DEBUG"/>
	</appSettings>
	<system.web>

    <httpRuntime executionTimeout="120" maxRequestLength="52100" />
        
		<compilation defaultLanguage="c#" debug="true" targetFramework="4.0">
		</compilation>
		<customErrors mode="Off"/>
		<authentication mode="Windows"/>
		<authorization>
			<allow users="*"/>
			<!-- 모든 사용자를 허용합니다. -->
			<!--  <allow     users="[쉼표로 구분된 사용자 목록]"
                             roles="[쉼표로 구분된 역할 목록]"/>
                  <deny      users="[쉼표로 구분된 사용자 목록]"
                             roles="[쉼표로 구분된 역할 목록]"/>
            -->
		</authorization>
		<!--  응용 프로그램 수준 추적 로깅
          응용 프로그램 수준 추적을 사용하면 응용 프로그램 내의 모든 페이지에 대한 추적 로그 출력이 가능합니다. 
          응용 프로그램 추적 로깅을 사용하려면 trace enabled="true"로 설정합니다. pageOutput="true"이면 
          각 페이지의 아래쪽에 추적 정보가 표시됩니다. 그렇지 않으면 
          웹 응용 프로그램 루트에서 "trace.axd" 페이지를 찾아서 응용 프로그램 추적 로그를

          볼 수 있습니다. 
    -->
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<!--  세션 상태 설정
          기본적으로 ASP.NET에서는 쿠키를 사용하여 특정 세션에 속한 요청을 식별합니다. 
          쿠키를 사용할 수 없는 경우 세션 식별자를 URL에 추가하여 세션을 추적할 수 있습니다. 
          쿠키를 사용하지 않으려면 sessionState cookieless="true"로 설정합니다.
    -->
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
		<!--  전역화

          이 섹션에서는 응용 프로그램의 전역화 설정을 설정합니다. 
    -->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<identity impersonate="true"/>
		<xhtmlConformance mode="Legacy"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<system.webServer>
		<directoryBrowse enabled="true"/>
	</system.webServer>
</configuration>